{{! 社交信息 }}
<nav class="navigation social">
    <ul class="social">
                <li>
            <a href="https://juejin.im/user/5b75457251882528ec6832b7/posts" class="social-github">
                <i class="fa fa-xlg fa-html5" data-original-title="掘金主页" data-rel="tooltip"></i>
            </a>
        </li>            
    <li>
            <a href="https://github.com/MrZss" class="social-github">
                <i class="fa fa-xlg fa-github-alt" data-original-title="{{t "Github"}}" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="tencent://message/?uin=735353456&Site=400301.com&Menu=yes" class="social-music">
                <i class="fa fa-xlg fa-qq" data-original-title="添加QQ" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="mailto:zhachenhaoplus@163.com" class="social-mail">
                <i class="fa fa-xlg fa-envelope-o" data-original-title="{{t "Contact Me"}}" data-rel="tooltip"></i>
            </a>
        </li>
        <li>
            <a href="tel:18810373163" class="social-rss">
                <i class="fa fa-xlg fa-phone-square" data-original-title="电话联系" data-rel="tooltip"></i>
            </a>
        </li>
        
    </ul>
</nav>
